<body style="background-image:url(http://i.imgur.com/lR0O3Wm.jpg); color:black;">
    <div>
        <h1 style="color:darkblue; text-align:center; border:solid; border-color:indigo;" class="container; alert-danger"> Series and Game Characters </h1>
    </div>

    <div class="row; alert-danger" style="color:crimson; border:solid; border-color:darkblue;" ;>
        <div class="col-md-4">
            <h2>Series List</h2>
            <input type="button" value="Get Series" class="btn btn-primary" onclick="getSeries()" />
            <ul id="series-list" class="list-group" style="color:darkgrey" />

            <input type="button" value="Get Thumbnail/Paragrapgh" class="btn btn-primary" onclick="getTP()" />
        </div>

        <div class="col-md-4">
            <h2>Series Characters</h2>
            <ul id="gamecharacters-list" class="list-group" style="color:darkgrey"></ul>
            <input type="button" value="Get All Characters" class="btn btn-primary" onclick="getGameCharacters()" />
        </div>

        <div class="row; text-center";>
            <div class="col-md-4">
                <h2>Thumbnail</h2>
                <img id="imgThumnail" width="300" height="300" style="color:black" />
            </div>
            <div class="row">
                <h2 style="text-align: center">Paragraph about Series/Character</h2>
            </div>
            <p>



            </p>

            <ul id="tp-list" class="list-group" style="color:darkgrey"></ul>
            <input type="button" value="Get Page" class="btn btn-primary" onclick="getTP()" />
        </div>
    </div>
</body>
<script>

    function clearList()
    {
        $('Series-list').empty();
    }

    function getSeries() {
        clearList();
        var uri = "http://localhost:59869/api/Series/";
        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: item.ID + ":" + item.Name }).appendTo($('#series-list'));
            });
        });
    }

    var currentSeries;

    function getGameCharacters() {
        clearList();
        var uri = "http://localhost:59869/api/GameCharacters";
        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: item.ID + ":" + item.Name }).appendTo($('#gamecharacters-list'));
            });
        });
    }

    function getTP() {
        clearList();
        var uri = "http://localhost:59869/api/gamechracters/";
        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: item.ID + ":" + item.Name }).appendTo($('#tp-list'));
            });
        });
    }

    function getGameCharactersForSeries() {
        var uri = "http://metalgear.wikia.com/wiki/Metal_Gear_Wiki";
        var id = $('#seriesID').val();
        $('#gamecharacters-list').empty();

        $.getJSON(uri + id).done(
            function (data) {
                if (data.GameCharacters) {
                    $.each(data.GameCharacters, function (i, item) {
                        $('<li>', { text: item.Name }).appendTo($('#gamecharacters-list'));
                    });
                }
            })
    }

    function getPage() {
        
        $url = 'http://metalgear.wikia.com/wiki/Metal_Gear_Wiki';
        $ch = curl_init($url);
        curl_setopt ($ch, CURLOPT_RETURNTRANSFER, 1);
        curl_setopt ($ch, CURLOPT_USERAGENT, "TestScript"); // required by wikipedia.org server; use YOUR user agent with YOUR contact information. (otherwise your IP might get blocked)
        $c = curl_exec($ch);

        $json = json_decode($c);

        $content = $json->{'parse'}->{'text'}->{'*'}; // get the main text content of the query (it's parsed HTML)

        // pattern for first match of a paragraph
        $pattern = '#<p>(.*?)</p>#s'; // http://www.phpbuilder.com/board/showthread.php?t=10352690
        if(preg_match_all($pattern, $content, $matches))
        {
            // print $matches[0]; // content of the first paragraph (including wrapping <p> tag)
            print strip_tags(implode("\n\n",$matches[1])); // Content of the first paragraph without the HTML tags.
        }
    }

    $(document).ready(function() {
        var image = $("<img>");
        var div = $("<div>")
        image.load(function() {
            div.css({
                "width": this.width,
                "height": this.height,
                "background-image": "url(" + this.src + ")"
            });
            $("#container").append(div);
        });
        image.attr("src", "WP.jpg");
    });


</script>