<div class="jumbotron">
    <h1>Series and Game Characters</h1>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Series List</h2>
        <input type="button" value="Get Series" class="btn btn-primary" onclick="getSeries()" />
        <ul id="Series-list" class="list-group" />
    </div>

    <div class="col-md-4">
        <h2>Class Search</h2>
        <input type="text" id="classID" size="5" />
        <input type="button" value="Find Class" class="btn btn-primary" onclick="findSeries()" />
        <p id="current-Series" class="btn btn-info" onclick="getGameCharactersForSeries()" />
    </div>

    <div class="col-md-4">
        <h2>Series Characters</h2>
        <ul id="Characters-list" class="list-group"></ul>
    </div>

    <div class="col-md-4">
        <h2>Thumbnail</h2>
        <img id="imgThumnail" width="500" height="500" />
    </div>
    </div>

    <div class="row">
    <div class="col-md-4">
        <h2>Paragraph</h2>
        <ul id="lstComics" />
    </div>
</div>


<script>
    var uri = "http://localhost:4306/api/classes/";

    function clearList()
    {
        $('Series-list').empty();
    }

    function getSeries() {
        clearList();

        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: item.ID + ":" + item.Name }).appendTo($('#Series-list'));
            });
        });
    }

    var currentClass;

    function findSeries() {
        var id = $('#classID').val();

        $.getJSON(uri + id)
        .done(function (data) {
            //keep a copy for later
            currentClass = data;

            $('#current-Series').text(data.Name);
        })
        .fail(function (jqXHR, textStatus, err) {
            $('#current-Series').text('Error: ' + err);
        });
    }

    function getGameCharactersForSeries() {
        var id = $('#SeriesID').val();
        $('#GameCharacters-list').empty();

        $.getJSON(uri + id).done(
            function (data) {
                if (data.Students) {
                    $.each(data.Students, function (i, item) {
                        $('<li>', { text: item.Name }).appendTo($('#GameCharacters-list'));
                    });
                }
            })
    }

</script>