<div class="jumbotron">
    <h1>Series and Game Characters</h1>
</div>
<div class="row">

    <div class="col-md-4">
        <h2>Series List</h2>
        <input type="button" value="Get Series" class="btn btn-primary" onclick="getSeries()" />
        <ul id="Series-list" class="list-group" />
    </div>

    <div class="col-md-4">
        <h2>Series Characters</h2>
        <ul id="Characters-list" class="list-group"></ul>
    </div>

    <div class="col-md-4">
        <h2>Thumbnail</h2>
        <img id="imgThumnail" width="500" height="500" />
    </div>
    </div>

    <div class="col-md-4">
        <h2>Paragraph</h2>
        <ul id="lstComics" />
    </div>

<script>
    var uri = "http://localhost:59869/api/series";

    function clearList()
    {
        $('Series-list').empty();
    }

    function getSeries() {
        clearList();

        $.getJSON(uri).done(function (data) {
            $.each(data, function (key, item) {
                $('<li>', { text: item.ID + ":" + item.Name }).appendTo($('#series-list'));
            });
        });
    }

    var currentSeries;

    function getGameCharactersForSeries() {
        var id = $('#SeriesID').val();
        $('#GameCharacters-list').empty();

        $.getJSON(uri + id).done(
            function (data) {
                if (data.GameCharacters) {
                    $.each(data.GameCharacters, function (i, item) {
                        $('<li>', { text: item.Name }).appendTo($('#gamecharacters-list'));
                    });
                }
            })
    }

</script>